html, body{
	width: 100%;
	height: 100%;
}

body{
	background-color: #000000;
	padding: 10px 10px 10px 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10%;
}

.text-heading-1, .text-heading-2, .text-subtitle, .text-sub-subtitle, .subtitle-box, span{
	font-family: 'Courier New', Courier, monospace;
	color: #ffffff;
}

.text-heading-1{
	font-size: 24pt;
}

.text-heading-2{
	font-size: 18pt;
}

.text-subtitle{
	font-size: 14pt;
}

.text-sub-subtitle{
	font-size: 12pt;
}

.calc-section-top{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 80%;
	height: 100%;
}

.vertical {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.horizontal {
	display: flex;
	flex-direction: row;
	column-gap: 5px ;
}
button{
	width: fit-content; 
	height: 25px;
}
span, button{
	padding: 2px 2px 2px 2px;
}

.input{
	position: relative;
	min-width: 150px;
	max-width: 235px;
	border-radius: 1px;
	height: 30px;
	width: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}




