html, body{
	width: 100%;
	height: 100%;
}

body{
	
	padding: 10px 10px 10px 10px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	row-gap: 10%;
}


table, tbody, tr{
	width: 100%;
	
}

table{
	border-collapse: collapse;
  	border: 2px solid rgb(140 140 140);
	
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(11px) saturate(165%);
	-webkit-backdrop-filter: blur(11px) saturate(165%);
	border: 1px solid rgba(255, 255, 255, 1.00);
	border-radius: 4px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

td{
	border: 1px solid rgb(160 160 160);
  	padding: 8px 10px;
	height: 35px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}



button{
	width: fit-content; 
	height: 25px;
}

span, button{
	padding: 2px 2px 2px 2px;
}

td:first-of-type, td:nth-of-type(1), td:last-of-type{
	width: 2%;
}

span, span[type='text']{
	font-family: "Roboto", sans-serif;  
	font-optical-sizing: auto;
	color: #ffffff;
}

span[type="number"]{
	font-family: 'Roboto Mono', Roboto, monospace;
}

span.text-label{
	font-weight: 'bold';
}

span, .text-default{
	font-size: 14px;
}







td, .interactive > span {
	contenteditable: true ;
}

td.non-interactive {
	contenteditable: false;
}

.interactive > span {
	min-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
}







